/* Full-width input fields */
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
	border:1px solid #707070;
	border-radius:10px;

}

/* Set a style for all buttons */
.button {
  position:relative;
  top:100px;
  left:47.5vw;
  margin-left:-30px;
  width:60px;
  font-size:16px;
  padding:15px;
  background-color:#A8A8A8;
  border-radius:10px;
  font-family:arial;
  text-decoration:none;
  font-weight:bold;
  color:white;
}

.button:hover {
    opacity: 0.8;
}


.container {
    padding: 16px;
	text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	.button2 {
       width: 100%;
    }
	.model-content {width: 100%; margin: 10px}
	input[type=text], input[type=password] {width: 100%}
}

.topcontainer
{
	background-color:#A8A8A8; width:100%; box-sizing:border-box; padding:10px;
    position: relative;
}

#close
{
  position:absolute;
  left:95%;
  top:7px;
  margin-left:-10px;
  background-color:#A8A8A8;
  font-size:12px;
  padding:4px 7px;
  border-radius:50px;
  border-style:solid;
  border-color:white;
  font-weight:bold;
  color:white;
  text-decoration:none;
  font-family:arial;
}

#close:hover
{
  background-color:#EFF1F3;
  border-color:#A8A8A8;
  color:#D77A61;
}

#close:active
{
  background-color:#A9F5F2;
  color:black;
}

.button2 {
    background-color: white;
    border: none;
    color: 	#1E90FF;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}
.button2a {
    background-color: 	#1E90FF; 
    color: white; 
    border: 2px solid white;
}

.button2a:hover {
    background-color: white;
    color: 	#1E90FF;
}
