/* custom.css */
#header {
	background-color: #7db4b5;
	color: #e0eff1;
}
#menu {
	background-color: #444;
	color: #e0eff1;
}
#workspace {
	padding-top: 10px;
	min-height: 400px;
	background-color: #fff;
}
#footer {
	min-height: 50px;
	background-color: #7db4b5;
	color: #e0eff1;
}
.clear-pad { padding: 0px!important; }
